# exclude everything
*

# include source files
!/src
!Cargo.lock
!Cargo.toml
!build.rs
!rustfmt.toml

# include genesis fixtures baked into binary
!/tests/fixtures/mainnet-genesis.json
!/tests/fixtures/bepolia-genesis.json

# include for vergen constants
!/.git

# include licenses
!LICENSE

# include scripts
!/scripts